#imageModal {
    width: 80vw;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

#menu {
    cursor: pointer;
}

#msgSent {
    margin-top: 2.5%;
    text-align: center;
    display: none;
}

.w3-button {
    transition: 0.2s ease-in-out;
}

#contactButton:hover {
    border-radius: 10px;
}

.dispNone {
    display: none;
}

.bg-black {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
    border-bottom-right-radius: 10px;
}

.transformLight {
    transform: scale(1.02, 1.02);
}

.houseThumbnail {
    width: 100%;
    cursor: pointer;
}

.vAlignMiddle {
    vertical-align: middle;
}

#aboutToggle,
#teamToggle {
    cursor: pointer;
    margin-left: 1%;
    font-size: 0.8em;
}

.spinUp {
    transform: rotate(180deg);
    transition: 0.75s ease-in-out;
    /*animation-name: invert;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;*/
}

.spinDown {
    transform: rotate(0deg);
    transition: 0.75s ease-in-out;
}

/*@keyframes invert{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}*/

@media(max-width: 600px) {
    .menuToggle {
        display: none;
        clear: both;
        float: none !important;
    }

    .menuToggle a {
        display: block;
    }

    #imageModal {
        width: 95vw !important;
    }
}

.w3-hover-text-green {
    transition: 0.2s ease-in-out;
}